/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* navbar  */
.header{
    background: #2D25A0;
    padding-top: 42px;
    color: #FFFFFF;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 113px;
    font-size: 16px;
}
.menu>ul{
    display: flex;
}
.menu>ul>li{
    list-style: none;
    margin-right: 36px;
}
.login-div{
    margin-right: 130px;
    margin-top: 20px;
}
/* front-page  */
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #2D25A0;

}
.front-text{
    margin-left: 156px;
    padding-top: 207px;
    width: 585px;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 157px;
    line-height: 90px;
}
.front-text h3{
    margin: 0;
}
.watchl{
    margin-top: -20px;
}
.watchlive,.watchnow,.login{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    background: #E02C6D;
    padding: 10px 24px;
    border: 0px;
    width: 168px;
    height: 44px;
}
.front-img img{
    width: 556.01px;
    height: 438px;
    padding-top: 153px;
}

/* players-detail */
.players-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-left: 180px;
    margin-top: 70px;

}
.players{
    width: 300px;
    height: 459px;
    border: 15px solid white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img img{
    width: 300px;
    height: 256px;
}

/* last page  */
.last-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 165px;
    margin-bottom: 158px;
}
.last-page img{
    width: 567px;
    height: 427px;
}
.highlights{
    width: 466px;
    height: 309px;
    padding-left: 182px;
    margin-top: 59px;
}
.highlights h1{
    font-size: 48px;
    line-height: 20px;
}
.watchn{
    margin-top: 40px;
}

/* Footer  */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.football-logo img{
    width: 483.87px;
    height: 110px;
}
.social-media{
    padding-left: 60px;
}
.social-icon a{
    padding-left: 15px;
    color: gray;
}
.fa-brands{
    color: gray;
    width: 32px;
    height: 32px;
}
.footer{
    margin-bottom: 50px;
}