/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #2D25A0;

}
.front-text{
    margin-left: 156px;
    padding-top: 207px;
    width: 585px;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 157px;
    line-height: 90px;
}
.front-text h3{
    margin: 0;
}
.watchlive{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    background: #E02C6D;
    padding: 10px 24px;
    border: 0px;
    width: 168px;
    height: 44px;
}
.front-img img{
    width: 556.01px;
    height: 438px;
    padding-top: 153px;
}